<form [formGroup]="formulario">
  <div class="mb-3">
    <div class="form-group">
      <div class="col-sm-8">
        <label for="name" class="form-label">Nome</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
            placeholder="Nome"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <div class="col-sm-8">
        <label for="email" class="form-label">Email</label>
        <div class="col-sm-8">
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="nome@email.com"
          />
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
