<section class="property-binding">
  <!--   <article>
    <h3>Interpolatin/Interpolação</h3>
    <p>{{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 + getValue() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}
    </p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img [src]="ulrImage" />
    <img src="{{ ulrImage }}" />
  </article> -->
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Error</option>
        <option value="alert-info">Info</option>
      </select>
      <br />
      <br />

      <div class="alert {{ classe.value }}">
        Texto colorido conforme o valor do combobox.
      </div>

      <div
        class="alert"
        role="alert"
        [class.alert-success]="classe.value == 'alert-success'"
      >
        Sucesso
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-info]="classe.value == 'alert-info'"
      >
        Info
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'"
      >
        Danger
      </div>

      <div
        class="alert alert-danger"
        role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
      >
        Esse texto so aparece em caso de erro
      </div>
    </div>
  </article>
</section>
